.container {
  position: fixed;
  bottom: 8vh;
  left: 2vh;
  width: 8vh;
  height: 4vh;
  z-index: 100;
  opacity: 50%;
}

.container .box--container {
  width: 50%;
  height: 80%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  animation: rotate 1s ease infinite;
}
.container .box--container .box {
  position: relative;
}
.container .box--container .box .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1rem;
  width: 1rem;
  background: #a34949;
  border-radius: 50%;
}
.container .box--container .box .circle--1 {
  animation: circle--1 ease 1200ms infinite;
  /* animation: rotate 1s ease infinite; */
}
.container .box--container .box .circle--2 {
  background: #ffe8e8;
  animation: circle--2 ease 1200ms infinite;
}
@keyframes circle--1 {
  0% {
    top: 50%;
  }
  50% {
    top: 120%;
  }
  100% {
    top: 50%;
  }
}
@keyframes circle--2 {
  0% {
    top: 50%;
  }
  50% {
    top: -50%;
  }
  100% {
    top: 50%;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
